Repository GFDRR/osm-analytics-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

remove default_tab from settings since its no longer used
  README.md
Due: none

mock user data based on features structure
  .gitignore
  public/mocks/histogram-features-hti.json
  src/activity/activity.jsx
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

fix error when no result found when specifying dates
  src/activity/activity.jsx
Due: eslint --fix, prettier --parser flow --write

remove log
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

fix layout for low numbers
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/variables.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

replace stylelint with sasslint
  .lintstagedrc
  package-lock.json
  package.json
Due: none

imporve from PR comments and linter fix
  .lintstagedrc
  .sass-lint.yml
  .stylelintrc
  package-lock.json
  package.json
  src/activity/activity.jsx
  src/activity/components/dropdown/dropdown.scss
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/contributors/contributors.scss
  src/styles.scss
  src/variables.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

refactor css grid miss-configuration
  src/activity/activity.jsx
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

remove no longer needed cors for external loading
  config/webpack.config-dev.js
Due: eslint --fix, prettier --parser flow --write

appply stddeviation to aggregate buildings and km
  public/app.js
  src/activity/activity.jsx
  src/activity/components/histogram/histogram.jsx
Due: eslint --fix, prettier --parser flow --write

add smoother pow factor
  src/activity/components/histogram/histogram.jsx
Due: eslint --fix, prettier --parser flow --write

update according to new wp plugin name
  package.json
Due: none

simplifies sass rules extending for extracttext
  config/webpack.config-base.js
  config/webpack.config-prod.js
Due: eslint --fix, prettier --parser flow --write

small refactor
  config/webpack.config-prod.js
Due: eslint --fix, prettier --parser flow --write

keep base config clean and have simpler overrides
  config/webpack.config-base.js
  config/webpack.config-dev.js
  config/webpack.config-prod.js
Due: eslint --fix, prettier --parser flow --write

rename average to mean to match the lodash function
  src/activity/activity.jsx
Due: eslint --fix, prettier --parser flow --write

WIP label component
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/activity/components/histogram/labels.jsx
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

improve label logic
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/activity/components/histogram/labels.jsx
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

fix scales for histogram
  src/activity/activity.jsx
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
Due: eslint --fix, prettier --parser flow --write

add API mock
  public/mocks/api-hti.json
Due: none

add index to determine month position
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/labels.jsx
Due: eslint --fix, prettier --parser flow --write

use real iframe url
  src/constants.js
Due: eslint --fix, prettier --parser flow --write

fix label hiding logic for last months when less than 24 month
  src/activity/components/histogram/labels.jsx
Due: eslint --fix, prettier --parser flow --write

fix typo
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
Due: eslint --fix, prettier --parser flow --write

add safety for missing or wrong dates; fallback to today
  src/activity/activity.jsx
  src/utils.js
Due: eslint --fix, prettier --parser flow --write

rename for clarity
  src/activity/activity.jsx
Due: eslint --fix, prettier --parser flow --write

better date validation logic
  src/activity/activity.jsx
Due: eslint --fix, prettier --parser flow --write

use time on sandbox API endpoint call
  public/app.js
Due: eslint --fix, prettier --parser flow --write

rm debugging title
  src/activity/components/histogram/bars.jsx
Due: eslint --fix, prettier --parser flow --write

handles loading externally
  public/img/loading_2x_360.gif
  public/index.html
  src/activity/components/loader/loader-styles.scss
  src/activity/components/loader/loader.jsx
  src/utils.js
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

uses percent of all contributions in ranking
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

trunkates long names in ranking chart
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

add font family to titles
  src/styles.scss
Due: stylelint --syntax=scss

deffensive margin due to global css
  src/activity/components/dropdown/dropdown.scss
Due: stylelint --syntax=scss

Improve documentation
  README.md
Due: none

defensive reset against global css
  src/contributors/contributors.scss
Due: stylelint --syntax=scss

fix last label position
  src/activity/components/histogram/histogram.scss
Due: stylelint --syntax=scss

adjust vertical position of last label after becoming absolute
  src/activity/components/histogram/histogram.scss
Due: stylelint --syntax=scss

fix spacing between yeras and labels
  src/activity/components/histogram/histogram.scss
  src/activity/components/histogram/labels.jsx
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

fixes labels from-to and cleans years in between
  src/activity/components/histogram/histogram.scss
  src/activity/components/histogram/labels.jsx
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --parser flow --write: any of: *.{js,jsx}
  stylelint --syntax=scss: any of: *.scss
