Repository GFDRR/osm-analytics-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --fix, stylelint --syntax=scss ./src/**/*.scss

Update activity screenshot
  samples/activity.png
Due: none

Update activity chart axis label
  public/bundle.js
  src/activity/activity.jsx
Due: prettier --parser flow --write, eslint --fix

fix unnecessary average
  src/activity/activity.jsx
Due: prettier --parser flow --write, eslint --fix

Update bundled js
  public/bundle.js
Due: none

Document aggregation logic
  README.md
  src/constants.js
Due: prettier --parser flow --write, eslint --fix

Fix chart values and labels for user activity chart
  public/bundle.js
  public/styles.css
  src/activity/activity.jsx
  src/activity/components/histogram/bars.jsx
  src/components/tooltip/tooltip.scss
Due: prettier --parser flow --write, eslint --fix, stylelint --syntax=scss ./src/**/*.scss

Statistics widget css changes
  public/bundle.js
  public/styles.css
  src/activity/activity.scss
  src/contributors/contributors.scss
  src/overall-stats/overall-stats.jsx
  src/overall-stats/overall-stats.scss
  src/styles.scss
  src/variables.scss
Due: prettier --parser flow --write, eslint --fix, stylelint --syntax=scss ./src/**/*.scss

Update user activity chart legend
  public/bundle.js
  src/activity/activity.jsx
Due: prettier --parser flow --write, eslint --fix

Fix typo
  public/bundle.js
  src/activity/activity.jsx
Due: prettier --parser flow --write, eslint --fix

Add support for variable precision
  README.md
  public/app.js
  public/bundle.js
  src/activity/activity.jsx
  src/activity/components/histogram/bars.jsx
  src/contributors/contributors.jsx
  src/inline-stat/inline-stat.jsx
  src/overall-stats/overall-stats.jsx
Due: prettier --parser flow --write, eslint --fix

Better handle low and missing values on activity charts
  public/bundle.js
  src/activity/components/histogram/bars.jsx
Due: prettier --parser flow --write, eslint --fix

update sample env file to use new osma-api domain
  public/env.sample.js
Due: none

Path conditions:
  prettier --parser flow --write: any of: src/**/*.{js,jsx}
  eslint --fix: any of: src/**/*.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: src/**/*.scss
