Repository GFDRR/osm-analytics-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, eslint --fix, sass-lint

polish month sizes
  src/activity/components/histogram/histogram.jsx
Due: prettier --parser flow --write, eslint --fix

fix right align for last month
  src/activity/components/histogram/histogram.scss
Due: sass-lint

Update settings; remove trailing slash on embed url
  src/compare-map/compare-map.jsx
  src/constants.js
Due: prettier --parser flow --write, eslint --fix

Update docs and default config
  README.md
  package.json
  public/env.sample.js
Due: prettier --parser flow --write, eslint --fix

fixed README link
  README.md
Due: none

added links to download data
  public/app.js
  src/activity/activity.jsx
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
  src/styles.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

added links to contributors OSM profile pages
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

Adds bundled files for use as a dependency
  .gitignore
  .lintstagedrc
  package.json
  public/bundle.js
  public/styles.css
Due: prettier --parser flow --write, eslint --fix

fixed README, re-added bundle
  README.md
  package-lock.json
  public/bundle.js
  public/styles.css
Due: prettier --parser flow --write, eslint --fix

add dates and country to contributors
  package.json
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

added activity tooltips
  package-lock.json
  package.json
  src/activity/activity.jsx
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
  src/components/tooltip/tooltip.jsx
  src/components/tooltip/tooltip.scss
  src/constants.js
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix, sass-lint

code style
  src/components/tooltip/tooltip.scss
  src/contributors/contributors.scss
Due: sass-lint

added area to activity chart
  src/activity/activity.jsx
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
  src/styles.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

new build
  public/bundle.js
  public/styles.css
Due: prettier --parser flow --write, eslint --fix

fixed tooltip offsets
  public/bundle.js
  public/styles.css
  src/activity/components/dropdown/dropdown.jsx
  src/activity/components/dropdown/dropdown.scss
  src/components/tooltip/tooltip.jsx
  src/components/tooltip/tooltip.scss
  src/variables.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

build
  public/bundle.js
  public/styles.css
Due: prettier --parser flow --write, eslint --fix

fix error where % of contrib by user was overestimated
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

configurable top users feature type
  README.md
  public/app.js
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

only use buildings to calculate top users
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

add configurable num users
  README.md
  public/app.js
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

fixed total users
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

add the % of contributions that the "others" account for
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

Update documentation
  README.md
  public/bundle.js
  samples/activity.png
  samples/contributors.png
  samples/map.png
Due: prettier --parser flow --write, eslint --fix

fix docs
  README.md
  public/app.js
Due: prettier --parser flow --write, eslint --fix

show data
  README.md
  public/app.js
  src/components/context/context.jsx
  src/contributors/contributors.jsx
  src/overall-stats/overall-stats.jsx
  src/overall-stats/overall-stats.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

styles
  src/overall-stats/overall-stats.jsx
  src/overall-stats/overall-stats.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

component boilerplate
  README.md
  public/app.js
  public/bundle.js
  public/index.html
  public/styles.css
  src/index.js
  src/overall-stats/overall-stats.jsx
  src/overall-stats/overall-stats.scss
Due: prettier --parser flow --write, eslint --fix, sass-lint

Improve docs, regenerate compiled resources
  README.md
  public/bundle.js
  public/styles.css
  samples/statistics.png
Due: prettier --parser flow --write, eslint --fix

Fix typo in documentation
  README.md
Due: none

Add support for standaolne statistics values
  README.md
  public/app.js
  public/bundle.js
  public/index.html
  public/styles.css
  src/index.js
  src/inline-stat/inline-stat.jsx
Due: prettier --parser flow --write, eslint --fix

Code cleanup and bug fixing
  src/inline-stat/inline-stat.jsx
Due: prettier --parser flow --write, eslint --fix

Regenerate compressed assets
  public/bundle.js
  public/styles.css
Due: prettier --parser flow --write, eslint --fix

Regenerate compiled assets
  public/bundle.js
Due: prettier --parser flow --write, eslint --fix

Improve resilience of contributor chart when no data exists
  public/app.js
  public/bundle.js
  src/activity/activity.jsx
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

Fix issue where "others" would not show on contributors chart
  src/contributors/contributors.jsx
Due: prettier --parser flow --write, eslint --fix

Improve examples
  public/app.js
Due: prettier --parser flow --write, eslint --fix

adds y axis
  .eslintrc
  public/bundle.js
  public/styles.css
  src/activity/activity.jsx
  src/activity/activity.scss
  src/components/tooltip/tooltip.scss
  src/constants.js
Due: prettier --parser flow --write, eslint --fix, sass-lint

kms for ways in tooltips
  src/activity/components/histogram/bars.jsx
Due: prettier --parser flow --write, eslint --fix

Path conditions:
  prettier --parser flow --write: any of: *.{js,jsx}
  eslint --fix: any of: *.{js,jsx}
  sass-lint: any of: *.scss
