Repository GFDRR/osm-analytics-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

trying prettier vs eslint
  .lintstagedrc
  src/components/app/app.jsx
Due: prettier --parser flow --write

testing prettier
  .lintstagedrc
  package-lock.json
  package.json
  src/components/app/app.jsx
Due: prettier --parser flow --write

reverse linting and prettier
  .lintstagedrc
  src/components/app/app.jsx
Due: prettier --parser flow --write

remove linting test in js
  src/components/app/app.jsx
Due: prettier --parser flow --write

added eslint dependency
  package.json
Due: none

turn index into a simple entry point/export for the visializations
  src/index.js
Due: prettier --parser flow --write

make a simulated html for the sandbox
  build/index.html
Due: none

add external instantiation of the different viz
  build/app.js
Due: prettier --parser flow --write

include the src in resolver path
  config/webpack.config-base.js
Due: prettier --parser flow --write

update readme
  README.md
Due: none

refactor app into separate dummy viz
  src/before-after/before-after-viz.jsx
  src/before-after/before-after.js
  src/before-after/before-after.scss
  src/components/app/app.jsx
  src/daily-activity/daily-activity-viz.jsx
  src/daily-activity/daily-activity.js
  src/daily-activity/daily-activity.scss
  src/styles.scss
  src/top-contributors/top-contributors-viz.jsx
  src/top-contributors/top-contributors.js
  src/top-contributors/top-contributors.scss
  src/utils.js
Due: prettier --parser flow --write, stylelint --syntax=scss

update dependencies
  package-lock.json
  package.json
Due: none

simplify visualizations exports
  src/before-after/before-after.js
  src/before-after/before-after.jsx
  src/daily-activity/daily-activity.js
  src/daily-activity/daily-activity.jsx
  src/top-contributors/top-contributors.js
  src/top-contributors/top-contributors.jsx
Due: prettier --parser flow --write

small formatting
  src/utils.js
Due: prettier --parser flow --write

update mock json
  mocks/buildings_country_hti.json
Due: none

add webpack config to export as a library
  config/webpack.config-base.js
  src/index.js
Due: prettier --parser flow --write

replace react deps with preact equivalences
  .babelrc
  .eslintrc
  package-lock.json
  package.json
  src/before-after/before-after.jsx
  src/daily-activity/daily-activity.jsx
  src/top-contributors/top-contributors.jsx
  src/utils.js
Due: prettier --parser flow --write

remove beforeAfter viz
  src/activity/activity.jsx
  src/activity/activity.scss
  src/before-after/before-after.jsx
  src/before-after/before-after.scss
  src/index.js
  src/top-contributors/top-contributors.jsx
Due: prettier --parser flow --write, stylelint --syntax=scss

remove beforeAftwer viz
  build/app.js
Due: prettier --parser flow --write

separate css for sandbox
  build/app.css
  build/index.html
Due: none

rename buoild to public; move and load mocks
  .gitignore
  build/app.js
  config/webpack.config-base.js
  package-lock.json
  package.json
  public/app.css
  public/app.js
  public/index.html
  public/mocks/buildings_country_hti.json
  public/mocks/highways_country_hti.json
  src/index.js
Due: prettier --parser flow --write

add tab component
  src/activity/tabs.jsx
Due: prettier --parser flow --write

add dropdown container
  src/activity/dropdown.jsx
Due: prettier --parser flow --write

add rough style to tabs and dropdown
  src/activity/activity.scss
Due: stylelint --syntax=scss

set state management and adds tabs and dropdown components
  src/activity/activity.jsx
Due: prettier --parser flow --write

centralize all app state
  src/activity/activity.jsx
  src/activity/dropdown.jsx
  src/activity/tabs.jsx
Due: prettier --parser flow --write

move components to directory; add bars component
  public/app.js
  src/activity/activity.jsx
  src/activity/activity.scss
  src/activity/components/bars.jsx
  src/activity/components/dropdown.jsx
  src/activity/components/tabs.jsx
  src/styles.scss
Due: prettier --parser flow --write, stylelint --syntax=scss

add bargroup component
  src/activity/activity.jsx
  src/activity/activity.scss
  src/activity/components/bargroup.jsx
Due: prettier --parser flow --write, stylelint --syntax=scss

bring histogram; refactor; add hitogram mock data
  .gitignore
  config/webpack.config-base.js
  package-lock.json
  package.json
  public/app.js
  public/mocks/buildings_country_hti.json
  public/mocks/histogram-features.json
  public/mocks/histogram-users.json
  src/activity/activity.jsx
  src/activity/activity.scss
  src/activity/components/bargroup.jsx
  src/activity/components/bars.jsx
  src/activity/components/dropdown/dropdown.jsx
  src/activity/components/dropdown/dropdown.scss
  src/activity/components/histogram/bars.jsx
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/activity/components/tabs.jsx
  src/activity/components/tabs/tabs.jsx
  src/activity/components/tabs/tabs.scss
Due: prettier --parser flow --write, stylelint --syntax=scss

reformat datastructure into list of lists and make utils generic
  public/mocks/histogram-features.json
  public/mocks/histogram-users.json
  src/activity/components/histogram/histogram.jsx
  src/utils.js
Due: prettier --parser flow --write

use list for mont names
  src/activity/activity.jsx
Due: prettier --parser flow --write

minor design changes
  src/activity/activity.scss
  src/activity/components/dropdown/dropdown.scss
Due: stylelint --syntax=scss

remove division by 0 glitch
  src/activity/components/histogram/bars.jsx
Due: prettier --parser flow --write

add remaining items to chunks when not enough of them
  src/utils.js
Due: prettier --parser flow --write

keep max in the datastructure
  src/activity/activity.jsx
  src/activity/components/histogram/histogram.jsx
Due: prettier --parser flow --write

styling histogram
  config/webpack.config-base.js
  package-lock.json
  package.json
  src/activity/activity.jsx
  src/activity/activity.scss
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/variables.scss
Due: prettier --parser flow --write, stylelint --syntax=scss

style components; bring fonts in
  config/webpack.config-base.js
  config/webpack.config-dev.js
  package-lock.json
  package.json
  public/app.css
  public/fonts/Bariol_Bold.otf
  public/fonts/Bariol_Regular.otf
  src/activity/activity.jsx
  src/activity/activity.scss
  src/activity/components/dropdown/dropdown.scss
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/activity/components/tabs/tabs.scss
  src/variables.scss
Due: prettier --parser flow --write, stylelint --syntax=scss

bring golbal styles to sandbox
  public/app.css
  src/activity/activity.scss
Due: stylelint --syntax=scss

fix prod-dev settup
  config/webpack.config-base.js
  config/webpack.config-dev.js
  config/webpack.config-prod.js
  package-lock.json
  package.json
  public/.gitignore
  public/index.html
Due: prettier --parser flow --write

fix build setup
  config/webpack.config-base.js
  config/webpack.config-prod.js
  package.json
Due: prettier --parser flow --write
