Repository GFDRR/osm-analytics-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --parser flow --write", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

add zindex variables
  src/activity/components/dropdown/dropdown.scss
  src/variables.scss
Due: stylelint --syntax=scss

fixes paths for gh-pages
  public/app.css
  public/index.html
Due: none

uppercase options in dropdown
  src/activity/components/dropdown/dropdown.scss
Due: stylelint --syntax=scss

prepare constants file
  config/webpack.config-base.js
  src/constants.js
Due: eslint --fix, prettier --parser flow --write

replace lodash utils
  src/utils.js
Due: eslint --fix, prettier --parser flow --write

add lodash dependency
  package-lock.json
  package.json
Due: none

use constants instead of state for static state
  src/activity/activity.jsx
  src/activity/components/dropdown/dropdown.jsx
  src/activity/components/histogram/histogram.jsx
  src/activity/components/tabs/tabs.jsx
  src/constants.js
Due: eslint --fix, prettier --parser flow --write

WIP contributors component
  public/app.js
  public/index.html
  public/mocks/contributors.json
  src/activity/activity.jsx
  src/activity/activity.scss
  src/components/tabs/tabs.jsx
  src/components/tabs/tabs.scss
  src/constants.js
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
  src/index.js
  src/styles.scss
  src/top-contributors/top-contributors.jsx
  src/top-contributors/top-contributors.scss
  src/utils.js
  src/variables.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

update names
  public/app.js
Due: eslint --fix, prettier --parser flow --write

allow local custom endpoint
  .gitignore
  README.md
  public/app.js
  public/env.sample.js
  public/index.html
Due: eslint --fix, prettier --parser flow --write

Charts configuration documentation
  README.md
Due: none

basic widget structure
  public/app.js
  public/index.html
  src/compare-map/compare-map.jsx
  src/index.js
Due: eslint --fix, prettier --parser flow --write

basic layout
  public/app.js
  src/compare-map/compare-map.jsx
Due: eslint --fix, prettier --parser flow --write

configurable iframe URL
  public/app.js
  src/compare-map/compare-map.jsx
  src/constants.js
Due: eslint --fix, prettier --parser flow --write

bug fix and basic styling
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

WIP plugging API
  src/api.js
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

connect data and polish styles
  public/app.js
  src/api.js
  src/contributors/contributors.jsx
  src/contributors/contributors.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

remove tab
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

make chart size depend on the parent
  public/app.css
  src/contributors/contributors.scss
Due: stylelint --syntax=scss

fixed line length and addes linter rule
  .eslintrc
  src/compare-map/compare-map.jsx
Due: eslint --fix, prettier --parser flow --write

default endpoint to deployed version
  public/app.js
  public/env.sample.js
Due: eslint --fix, prettier --parser flow --write

use plain english constants
  src/activity/activity.jsx
  src/constants.js
Due: eslint --fix, prettier --parser flow --write

added utility to compile to wp
  package.json
Due: none

added utility to compile to wp
  README.md
  package.json
Due: none

fixed line breaks in iframe URL
  src/compare-map/compare-map.jsx
Due: eslint --fix, prettier --parser flow --write

use snake_case parameters
  README.md
  public/app.js
  src/compare-map/compare-map.jsx
  src/constants.js
Due: eslint --fix, prettier --parser flow --write

country should be added in wp-land
  public/app.js
  public/env.sample.js
Due: eslint --fix, prettier --parser flow --write

add theme to embed url
  src/compare-map/compare-map.jsx
Due: eslint --fix, prettier --parser flow --write

recompute data on render
  src/activity/activity.jsx
  src/contributors/contributors.jsx
Due: eslint --fix, prettier --parser flow --write

Update compare-map.jsx
  src/compare-map/compare-map.jsx
Due: eslint --fix, prettier --parser flow --write

WIP formatting data
  public/app.js
  src/activity/activity.jsx
  src/utils.js
Due: eslint --fix, prettier --parser flow --write

work with several years
  public/app.js
  src/activity/activity.jsx
  src/activity/components/histogram/histogram.jsx
Due: eslint --fix, prettier --parser flow --write

WIP multiple years version
  public/app.js
  src/activity/components/histogram/histogram.jsx
  src/activity/components/histogram/histogram.scss
  src/variables.scss
Due: eslint --fix, prettier --parser flow --write, stylelint --syntax=scss

replace custom scales with d3 scales
  package-lock.json
  package.json
  src/activity/components/histogram/bars.jsx
Due: eslint --fix, prettier --parser flow --write

adapts structure to new API data
  public/app.js
  public/mocks/histogram-features-hti.json
  src/activity/activity.jsx
  src/activity/components/histogram/histogram.jsx
  src/contributors/contributors.jsx
  src/utils.js
Due: eslint --fix, prettier --parser flow --write

add dates to url
  public/app.js
  public/index.html
  src/activity/activity.jsx
Due: eslint --fix, prettier --parser flow --write

fix build for production steps
  .gitignore
  config/webpack.config-base.js
  config/webpack.config-prod.js
  package-lock.json
  package.json
  postcss.config.js
  public/index.html
Due: eslint --fix, prettier --parser flow --write

fix cors in devserver
  config/webpack.config-dev.js
Due: eslint --fix, prettier --parser flow --write

fix date errors
  src/activity/activity.jsx
Due: eslint --fix, prettier --parser flow --write
